* {
  margin: 0;
  padding: 0;
}

.cardItem {
  display: flex;
  flex-direction: column;
  width: 200px;

  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid #888888;
  border-radius: 2px;
  box-shadow: 5px 10px 9px #888888;
  margin: 0 10px;
}
.speciesNme {
  font-size: 15px;
  margin: 10px 0;
}
.cardItem p {
  font-size: 13px;
}
